# ntp.conf: Managed by ansible.
#
# Enable next tinker options:
# panic - keep ntpd from panicking in the event of a large clock skew
# when a VM guest is suspended and resumed;
# stepout - allow ntpd change offset faster
tinker panic 0
disable monitor

statsdir /var/log/ntpstats

# Permit time synchronization with our time source, but do not
# permit the source to query or modify the service on this system.
{% for restrict_param in ntpd_restrict_params %}
restrict {{ restrict_param }}
{% endfor %}

# Set up servers for ntpd with next options:
# server - IP address or DNS name of upstream NTP server
# burst - send a burst of eight packets instead of the usual one.
# iburst - allow send sync packages faster if upstream unavailable
# prefer - select preferrable server
# minpoll - set minimal update frequency
# maxpoll - set maximal update frequency
# noselect - do not sync with this server

{% for srv in ntpd_servers %}
server {{ srv }}
{% endfor %}

# Driftfile.
driftfile /var/lib/ntp/drift
